/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: BirchCTT;
    src: url('./assets/fonts/birchctt.ttf');
}

@font-face {
    font-family: Present Script;
    src: url('./assets/fonts/presentscript.ttf');
}

@font-face {
    font-family: Adigiana;
    src: url('./assets/fonts/adigiana.ttf');
}

@font-face {
    font-family: Azbuka04;
    src: url('./assets/fonts/azbuka04.ttf');
}

@font-face {
    font-family: Rubens Modern;
    src: url('./assets/fonts/rubens_modern.ttf');
}

@font-face {
    font-family: Behrens Modern;
    src: url('./assets/fonts/behrens_modern.ttf');
}
