<div class="centered">
	<div class="login_container">
		<div class="login_header">Добро пожаловать</div>
		<div *ngIf="error" class="alert alert-danger" role="alert">
			<strong>Oops!</strong> {{error}}
		</div>
		<form #f="ngForm" novalidate (ngSubmit)="login(f)">
			<div class="form-group">
				<label for="username">Как вас зовут?</label>
				<input class="form-control" id="username" type="text" required name="username" [ngModel]="user.username" #username="ngModel" class="form-control" placeholder="Введите имя" appUsernameValidator/>
				<small [hidden]="username.valid || (username.pristine && !isSubmitted)" class="text-danger">Неверное имя пользователя</small>
			</div>
			<button type="submit" style="width: 150px;" class="btn btn-primary" [disabled]="f.invalid || isSubmitted">Войти</button>
		</form>
	</div>
</div>