.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_container {
    font-family: Azbuka04, Roboto, sans-serif;
    width: 400px;
    background-color: #f3f3f3;
    border-radius: 3px;
    padding: 10px;
    border: 1px #ccc solid;
}
.login_header {
    font-size: 18px;
    border-bottom: 1px #ccc solid;
    padding-bottom: 5px;
    margin: 10px 0;
}