<div class='container'>
    <div class="chat_container">
        <div class="row chat_header">
            <div class="col-md-10" style="font-size: 24px">Пользователь: <b>{{currentUser ? currentUser.username : 'Нет пользователя'}}</b></div>
            <div class="col-md-2" style="text-align: right"><a class="btn btn-primary" [routerLink]="['/logout']">Выйти</a></div>
        </div>
        <div class="messages_block">
            <div class="no_messages" *ngIf="messages.length == 0">Нет сообщений</div>
            <ul *ngIf="messages.length > 0"><li *ngFor="let message of messages">{{message}}</li></ul>
        </div>
        <form #chatForm="ngForm" (ngSubmit)="sendMessage()">
            <div class="form-row message_form">
                <div class="col-xs-8 col-sm-9 col-md-10" style="padding:0; height: 100%">
                    <input id="messageText" name="messageText" class="message_text" type="text" placeholder="Новое сообщение" [(ngModel)]="messageText" required/>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2" style="padding:5px;">
                    <button class="btn btn-primary" style="width:100%" type="submit" id="sendButton" name="sendButton" [disabled]="!chatForm.valid">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>