.chat_container{
    font-family: Azbuka04, Calibri, sans-serif;
    border: 1px #929292 solid;
    margin: 50px 0;
    border-radius: 5px;
}

.chat_header {
    background-color: #929292;
    padding: 10px;
    margin: 0;
    color: #fff;
    border-bottom: 1px #929292 solid;
    overflow: hidden;
}

.messages_block{
    height: 500px;
}
.messages_block ul{
    list-style: none;
    white-space: nowrap;
    padding: 0;
    overflow: auto;
    font-family: Adigiana;
    font-size: 30px;
}
.messages_block ul li{
    padding: 2px 10px;
    color: #616161;
    text-overflow: ellipsis;
    overflow: hidden;
}
.messages_block ul li:nth-child(even){
    background-color: #e5e5e5
}

.no_messages {
    text-align: center;
    line-height: 500px;
    color: #929292;
    font-size: 24px;
}

.message_form {
    height: 50px;
    overflow: hidden;
    border-top: 1px #929292 solid;
    margin: 0;
}

.message_text {
    border: none;
    height: 100%;
    padding: 5px 10px;
    background: none;
    width: 100%;
    font-size: 18px;
    color: #676767;
}
.send_button{
    border: 1px #959595 solid;
    /* height: 100%; */
    background-color: #929292;
    padding: 5px 10px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
    background: none;
}